<span>

  <span *ngIf="isUserLoggedIn">
    <div class="positionAdjust">

      <div class="wrapper">
        <div class="upper">
          <img src="https://image.flaticon.com/icons/svg/204/204316.svg">
        </div>

        <div class="lower">
          <div class="information" style="margin-top: -35px">
            <span class="nickname">Hello Customer</span>
            <span class="city"><i class="fa fa-map-marker"></i> Tel-Aviv (ISR)</span>

            <p class="bio">Welcome to your customer page, please choose:</p>
            <button mat-button (click)="userService.goToEditInfo()">Edit Info </button>
            <button mat-button (click)="userService.goToCoupons()">See Coupons!</button>
          </div>
        </div>
      </div>
    </div>
  </span>
</span>