<span style="background-color: transparent;">

  <span *ngIf="isUserLoggedIn">
    <div class="positionAdjust">

      <div class="wrapper">
        <div class="upper">
          <img src="http://lorempixel.com/1024/600/abstract/7/">
        </div>

        <div class="lower">
            <i class="material-icons md-48" style="position: relative;left: 137px;">people</i>
          <div class="information" style="margin-top: -35px">
            <span class="nickname">Hello Customer</span>
            <span class="city"><i class="fa fa-map-marker"></i> Tel-Aviv (ISR)</span>

            <p class="bio">Welcome to your customer page, please choose:</p>
            <button mat-button (click)="userService.goToEditInfo()">Edit Info </button>
            <button mat-button (click)="userService.goToCoupons()">See Coupons!</button>
          </div>
        </div>
      </div>
    </div>
  </span>
</span>