<div class="addCompanyPage">

  <h3 class="addCompanyHeader">
    Company Registration:
  </h3>

  <form class="addCompanyForm">

    <mat-form-field>
      <input matInput name="companyName" type="text" placeholder="Company name: " [(ngModel)]="company.companyName">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="companyEmail" type="text" placeholder="Company email: " [(ngModel)]="company.companyEmail">
    </mat-form-field>
  </form>

  <div class="addCompanyButton">
    <button mat-button type="button" (click)="addCompany()">Add A Company!</button>
  </div>

</div>