<div class="registerPage">

  <h3 class="registerHeader">
    Register:
  </h3>

  <form class="registerForm">
    
    <mat-form-field>
      <input matInput name="firstName" placeholder="First name" [(ngModel)]="customer.customerFirstName">
    </mat-form-field>
    
    <mat-form-field>
      <input matInput name="lastName" type="text" placeholder="Last name" [(ngModel)]="customer.customerLastName">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" name="email" placeholder="Email" [(ngModel)]="customer.user.userLoginDetails.userEmail">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="customer.user.userLoginDetails.password">
    </mat-form-field>
 
  </form>
  
  <div class="registerButton">
    <button mat-button type="button" (click)="customerService.register(customer)">Register!</button>
  </div>
  
</div>