<body *ngIf="isAdministrator" style="color:black;">
    <div style="margin: auto; align-content: center;text-align:center">

        <button mat-raised-button [matMenuTriggerFor]="menu" style="margin-right:20px;padding-right: 20px">Admin
            Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="userService.goToAddUser()">Add User</button>
            <button mat-menu-item (click)="userService.goToAddCompany()">Add Company</button>
        </mat-menu>
        <button mat-raised-button (click)="getAllUsers()">See users! </button>
        <div *ngFor="let user of usersToShow">
            <table style="color:black">
                <thead>
                    <tr>
                        <th scope="col">user email :</th>
                        <th scope="col">user type :</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{user.userLoginDetails.userEmail}}</td>
                        <td>{{user.userLoginDetails.type}}</td>
                    </tr>
                </tbody>
            </table>



        </div>

    </div>

</body>