.addCouponPage{
    margin: auto;
    position: absolute;
    left: 400px;
    top: 100px;
}
.addCouponForm {
    margin: 5px 50px 10px 100px;
    min-width: 100px;
    max-width: 250px;
}

.addCouponButton{
    padding-left: 85px;
}

.addCouponHeader{
    padding-left:0px;
    margin: 5px 50px 10px 100px;
}
