<body class="addCouponPage">

  <h3 class="addCouponHeader">
    Add coupon:
  </h3>

  <form class="addCouponForm">

    <mat-form-field>
      <input matInput name="CouponTitle" type="text" placeholder="Coupon title: " [(ngModel)]="coupon.title">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="CouponDescription" type="text" placeholder="Coupon Description: " [(ngModel)]="coupon.description">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="CouponCategory" type="text" placeholder="Coupon Category: " [(ngModel)]="coupon.category">
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select  >
        <mat-option [(ngModel)]="category" *ngFor="let category of categories" [value]="category.value">
          {{category.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field>
      <input matInput name="CouponStartDate" type="date" placeholder="Coupon Start Date: "
        [(ngModel)]="coupon.startDate">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="CouponEndDate" type="date" placeholder="Coupon End Date: " [(ngModel)]="coupon.endDate">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="CouponAmount" type="number" placeholder="Coupon Amount: " [(ngModel)]="coupon.amount">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="CouponPrice" type="number" placeholder="Coupon Price: " [(ngModel)]="coupon.price">
    </mat-form-field>

    <mat-form-field>
      <input matInput name="CouponImg" type="text" placeholder="Coupon Image Url: " [(ngModel)]="coupon.img">
    </mat-form-field>

    <div class="addCouponButton">
      <button mat-button type="button" (click)="addCoupon()">add Coupon!</button>
    </div>

  </form>

</body>