<mat-toolbar color='warn'>
  <mat-toolbar-row>
    <span>Menu</span>
    <span class="example-spacer"></span>
    <span class="example-spacer2">    <button mat-button (click)="goToCustomer()">My Acount</button></span>
    <span class="example-spacer2">    <button mat-button (click)="goToPurchases()">Purchases</button></span>
    <span class="example-spacer2">    <button mat-button (click)="goToCoupons()">Coupons</button></span>
    <button mat-button (click)="goToLogin()"><i class="material-icons">toggle_on</i> Login</button>
    <button mat-button (click)="goToRegister()"><i class="material-icons">person_add</i>Register</button>
  </mat-toolbar-row>
</mat-toolbar>